.magazine-title-box {
  width: 100%;
  height: 610px;
  top: 101px;
  background: linear-gradient(101.28deg, #121212 0%, #b9b9b9 91.67%);
}

.sub-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  color: #484848;
  margin-left: 76px;
  margin-top: 103px;
  margin-bottom: 10px;
}

.red-bar {
  width: 143px;
  height: 6px;
  top: 165px;
  left: 22px;
  border-radius: 3px;
  background: #e52a2a;
  margin-left: 76px;
}

.item-box {
  width: 382px;
  height: 340px;
  top: 8px;
  border-radius: 12px;
  background-color: #484848;
}

.item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #484848;
  margin-top: 30px;
  margin-bottom: 5px;
}

.item-address {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #9a9a9a;
  margin-bottom: 43px;
}
